h1{
    border-right-color: rgb(76, 171, 206);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-image:url(fondo\ factura.avif);
    background-color: rgb(127, 155, 255);
    color: black;
    
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
    
    input{
        padding: 6px 10px;
    border-width: 2px;
    border-color: rgb(41, 52, 133);
    border-style: solid;
    border-radius: 10px;
    }