body{
background-color: rgb(210, 226, 241);
color: black;
background-image: url(fondi.jpg);
}



h1{
    background-color: rgb(203, 151, 251);
    padding: 6px 10px;
    border-width: 3px;
    border-color: rgb(114, 67, 168);
    border-style: solid;
    border-radius: 20px;
    color: rgb(67, 69, 154);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

div{

    background-color: rgb(203, 151, 251);
    padding: 1px 5px;
    border-width: 3px;
    border-color: rgb(114, 67, 168);
    border-style: solid;
    border-radius: 20px;
}
form{
padding: 6px 10px;
border-width: 2px;
border-radius: 20px;
border-style: solid ;
}
a{
    background-color: rgb(114, 67, 168);
    border-width: 3px;
    border-style:solid;
    border-radius: 20px;
}